<!DOCTYPE html>
<html lang="en">

<head>
    <title>NBA2K20</title>
    <link rel="stylesheet" href="../static/css/style.css" />
</head>

<body>
    <h1>TOP 10 GIOCATORI DI NBA2K20 PER RATING</h1>
    <img class="logo" src="../static/images/0.jpg">
    <div class="container">
        {% for item in units %}
        <div>
            <div>
            <p class="pippo">NOME: {{ item[1] }} </p>
            <p class="pippo">RATING : {{ item[2] }}</p>
            <p class="sinistra">NUMERO DI MAGLIA : {{ item[3]}}</p>
        </div>
            <p class="sinistra">FRANCHIGIA : {{ item[4] }} </p>
            <p class="sinistra">ANNO DRAFT : {{ item[11] }} </p>
            <p class="sinistra">NUMERO SCELTA : {{ item[13] }}</p>
            <p class="destra">DATA DI NASCITA : {{ item[6] }} </p>
            <p class="destra">ALTEZZA : {{ item[7] }}</p>
            <p class="destra">PESO : {{ item[8] }}</p>
            <p class="destra">COLLEGE : {{ item[14] }}</p>
            <img src="../static/images/{{item[0]}}.jpg" alt="{{item[0]}}">
        </div>

        {% endfor %}
    </div>
</body>

</html>